<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bookDAO" class="com.szh.dao.BookDAOImpl"></bean>
    <bean id="studentDAO" class="com.szh.dao.StudentDAOImpl"></bean>

    <bean id="txManager" class="com.szh.utils.TxManager"></bean>
    <bean id="logManager" class="com.szh.utils.LogManager"></bean>
    <bean id="bookServiceImpl" class="com.szh.service.BookServiceImpl"></bean>
    <bean id="myAspect" class="com.szh.utils.MyAspect"></bean>

    <aop:config>
        <!--使用aop:pointcut标签声明切入点（被Spring横切的方法）  第一个"*"表示方法返回类型：切入点可以是一个方法-->
        <aop:pointcut id="book_all" expression="execution(* com.szh.dao.BookDAOImpl.*(..))"/>

        <!--BookDAOImpl类中所有无参无返回值的方法-->
        <aop:pointcut id="book_pc1" expression="execution(void com.szh.dao.BookDAOImpl.*())"/>

        <!--BookDAOImpl类中所有无返回值的方法-->
        <aop:pointcut id="book_pc2" expression="execution(void com.szh.dao.BookDAOImpl.*(..))"/>

        <!--BookDAOImpl类中所有无参数的方法-->
        <aop:pointcut id="book_pc3" expression="execution(* com.szh.dao.BookDAOImpl.*())"/>

        <!--BookDAOImpl类中所有方法-->
        <aop:pointcut id="book_pc4" expression="execution(* com.szh.dao.BookDAOImpl.*(..))"/>

        <!--dao包中所有类中的所有方法-->
        <aop:pointcut id="book_pc5" expression="execution(* com.szh.dao.*.*(..))"/>

        <!--dao包中所有类中的insert方法-->
        <aop:pointcut id="book_pc6" expression="execution(* com.szh.dao.*.insert(..))"/>

        <!--任意包中的任意类中的所有方法-->
        <aop:pointcut id="book_pc7" expression="execution(* *(..))"/>

        <aop:pointcut id="book_insert" expression="execution(* com.szh.dao.BookDAOImpl.insert(..))"/>

        <!--声明TxManager为切面类-->
<!--        <aop:aspect ref="txManager">-->
<!--            &lt;!&ndash;AOP通知策略&ndash;&gt;-->
<!--            <aop:before method="begin" pointcut-ref="book_pc7"/>-->
<!--            <aop:after method="commit" pointcut-ref="book_pc7"/>-->
<!--        </aop:aspect>-->

        <aop:aspect ref="myAspect">
            <!--aop:before 前置通知，切入到指定切入点之前-->
            <aop:before method="method1" pointcut-ref="book_insert"/>
            <!--aop:after 后置通知，切入到指定切入点之后-->
            <aop:after method="method2" pointcut-ref="book_insert"/>
            <!--aop:after-throwing 异常通知，切入点方法抛出异常之后-->
            <aop:after-throwing method="method3" pointcut-ref="book_insert"/>
            <!--aop:after-returning 方法返回值返回之后，对于一个Java方法而言return返回值也是方法的一部分，因此"方法返回之后"和"方法执行结束"是同一个时间点
            所以after 和 after-returning根据配置的顺序决定执行顺序
            -->
            <aop:after-returning method="method4" pointcut-ref="book_insert"/>
            <!--aop:around 环绕通知 在切入点方法前后添加代码，这里需要修改切面类中的切点方法-->
            <aop:around method="method5" pointcut-ref="book_insert"/>
        </aop:aspect>




<!--        &lt;!&ndash;切面类&ndash;&gt;-->
<!--        <aop:aspect ref="logManager">-->
<!--            <aop:before method="printLog"></aop:before>-->

<!--        </aop:aspect>-->
    </aop:config>
</beans>