<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szh.dao.CourseDao">
    <!--使用insert,update,delete,select标签写sql-->

    <resultMap id="courseMap" type="course">
        <id column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <collection property="students" select="com.szh.dao.StudentDao.queryStudentByCid" column="course_id"/>
<!--        <collection property="students" ofType="student">-->
<!--            <id column="sid" property="stuId"/>-->
<!--            <result column="sname" property="stuName"/>-->
<!--            <result column="sage" property="stuAge"/>-->
<!--        </collection>-->
    </resultMap>

    <select id="queryCourseById" resultMap="courseMap">
        select course_id, course_name
        from course
        where course_id = #{courseId}
    </select>

<!--    <select id="queryCourseById" resultMap="courseMap">-->
<!--        select course_id, course_name,s.sid,sname,sage-->
<!--        from course c-->
<!--        left join grades g on c.course_id = g.cid-->
<!--        left join students s on s.sid = g.sid-->
<!--        where course_id = #{courseId}-->
<!--    </select>-->


</mapper>
