<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szh.dao.DetailDao">
    <insert id="insertDetail">
        insert into details(user_addr,user_tel,user_desc,user_id)
        values (#{userAddr},#{userTel},#{userDesc},#{userId})
    </insert>

    <resultMap id="DetailMap" type="detail">
        <id column="detail_id" property="detailId"/>
        <result column="user_addr" property="userAddr"/>
        <result column="user_tel" property="userTel"/>
        <result column="user_desc" property="userDesc"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <select id="queryDetailByUid" resultMap="DetailMap">
        select detail_id,user_addr,user_tel,user_desc,user_id
        from details
        where user_id = #{uid}
    </select>
</mapper>
